# Скачанные геномы и отчёты (большие объёмы)
parser/downloads/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

*.pt
tmp.py
nohup.out
*.txt
*.log
